<<<<<<< HEAD
.box{
	background-color: #ccc;
	width: 400px;
	height: 200px;
	margin: -100px 0 0 -200px;
	position: absolute;
	top: 50%;
	left: 50%;
}

.left, .right{
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: #fc0;
}

.left{
	top: 0;
	left: 0;
	border-bottom-right-radius: 50px;
}
.right{
	right: 0;
	bottom: 0;
	border-top-left-radius: 50px;
=======
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	height: auto;
	background-color: #fff;
	color: #fff;
	height: 600px;
	position: relative;
}
.center {
	position: relative;
	width: 400px;
	height: 200px;
	background-color: #ccc;
	margin: 0 auto;
	overflow: hidden;
	top: 50%;
	margin-top: -100px;
}
.yelmark1, .yelmark2 {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #fc0;
	border-radius: 50%;
}
.yelmark1 {
	top: -50px;
	left: -50px
}
.yelmark2 {
	bottom: -50px;
	right: -50px;
>>>>>>> e1e265e59f5dcd31380759381b8ee996a8b85d7c
}